body,html{
    background:rgb(220,220,220);
}
form{
    margin:auto;
    width:200px;
    height:320px;
    background:white;
    padding:20px;
    border-radius:5px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.1);
}
form input{
    margin:0px;
    width:100%;
    padding:0px;
    padding:5px;
    box-sizing: border-box;
    margin-bottom:10px;
}