body,html{
    background:rgb(220,220,220);
    font-family: sans-serif;
}
form,main{
    margin:auto;
    width:200px;
    height:320px;
    background:white;
    padding:20px;
    border-radius:5px;
    box-shadow:0px 5px 10px rgba(0,0,0,0.1);
    text-align:center;
}
form input{
    margin:0px;
    width:100%;
    padding:0px;
    padding:5px;
    box-sizing: border-box;
    margin-bottom:10px;
}
.incorrecto{
    font-size:160px;
    color:red;
}
.correcto{
    font-size:160px;
    color:green;
}